/**
 *  主题色
 */
$primaryColor:#36ad6a;
$secondaryColor:rgb($primaryColor, 0.1);

$blue:#409EFF;
$red: #F56C6C;
$green:#67C23A;
$yellow:#E6A23C;

//app背景色
$appBgColor:#fff;

//头部背景色
$appHeaderBgColor:#fff;