@import "./color.scss";

/**
 *  自定义elementUI主题色
 */

$--color-primary:$primaryColor;
/* 改变 icon 字体路径变量，必需 */
$--font-path: 'element-plus/lib/theme-chalk/fonts';

@import "element-plus/packages/theme-chalk/src/index.scss";


/********************重置elementUI组件某些样式******************/

//全局设置tab的细线
.el-tabs__nav-wrap::after {
  height: 1px;
}

.el-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

//全局弹窗居中, 内容溢出滚动

.el-dialog {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  /*height:600px;*/
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
}

.el-dialog .el-dialog__body {
  flex: 1;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.el-dialog__header {
  text-align: left;
}

.el-dialog__wrapper {
  background: rgba(#000, 0.3);
}

.el-radio-group {
  white-space: nowrap;
}

.el-image-viewer__mask {
  opacity: 0.8;
}


.el-image {
  .el-icon-circle-close::before {
    color: #fff;
  }
}

.el-tree-node__content {
  padding: 4px 0;
}

.el-cascader__tags {
  input {
    &::placeholder {
      color: transparent;
    }
  }
}

.el-textarea__inner,
.el-input__inner {
  border-radius: 2px;
  background-color: rgba(#000, 0.03);
  border: 1px solid transparent;
  transition: all 0.5s;
  box-sizing: border-box;
}

.el-range-input {
  background: transparent;
}

.el-input-group__append {
  border: none;
}

.el-tag {
  border-radius: 2px;
}

.el-button {
  border-radius: 2px;
}

.el-menu.el-menu--horizontal {
  border-bottom: 0;
}

.el-form--label-top .el-form-item__label {
  padding-bottom: 0 !important;
}

.el-form-item {
  margin-bottom: 15px !important;
}

.el-message {
  border: none;
  box-shadow: 0 5px 5px 0 rgba(#000, 0.02);
}