/**
 *  全局样式表
 */

@import "./color.scss";
@import "./custom-default-browser-style.scss";
@import "./mixin.scss";
@import "./animation.scss";


//头部导航栏高度
$appHeaderHeight:62px;
//侧边导航栏宽度
$sideMenuWidth:220px;


//管理端面包屑高度
$breadcrumbHeight:50px;
//管理端主内容高度
$adminContentHeight:calc(100vh - #{$appHeaderHeight} - #{$breadcrumbHeight} - 2px);


#nprogress .bar {
  background: $primaryColor;
  height: 3px;
}


body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;
  background: $appBgColor;
  width: 100%;
  height: 100%;

}