/**
 *  全局scss的mixin
 */
@mixin flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


//单行溢出
@mixin ellipsis-singe-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//多行溢出
@mixin ellipsis-multi-line($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}